[submodule "gittools"]
  path = gittools
  url = git@github.com:hwdegroot/gittools.git
  ignore = dirty
[submodule "bash-git-prompt"]
  path = bash-git-prompt
  url = git@github.com:hwdegroot/bash-git-prompt.git
  ignore = dirty
[submodule ".config/sensible.bash"]
  path = .config/sensible.bash
  url = git@github.com:mrzool/bash-sensible.git
  ignore = dirty
