!.gitignore 
!.gitconfig

!.bash_aliases
!.bash_profile
!.bashrc
!.profile
!.minttyrc

!.tmux.conf
!.vimrc
!README.md
.bash_history
.ssh/
.cache/
.virtualenvs/
.viminfo
.local/
local/
bin/
.vim/bundle/*
!.vim/bundle/Vundle.vim/*
