*
!.gitignore 
!.gitconfig

!.bash_aliases
!.bash_profile
!.bashrc
!.profile
!.minttyrc


!.vimrc
!README.md
.bash_history
.ssh/
.cache/
.virtualenvs/
.viminfo
.local/
!local/
!bin/
!.config/*
!.install/
!bash-git-prompt/
.vim/bundle/*
!.vim/bundle/Vundle.vim/*
