[user]
	name = Rik de Groot
	email = hwdgeroot@gmail.com
[core]
	autocrlf = False
	editor = vim
	filemode = false
	pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
[branch]
	autosetuprebase = always
[pull]
	rebase = preserve
[rerere]
	enabled = true
[push]
	default = simple
[color "branch"]
	current = yellow bold
	local = yellow dim
	remote = green dim bold
[color "status"]
	added = green
	changed = red bold
	untracked = magenta bold
[color]
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[diff]
	tool = p4mergedifftool
	algorithm = patience
	guitool = p4merge
[merge]
	ff = false
	tool = vimdiff
	conflictstyle = diff3
[credential]
	helper = store
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
	pager = true
[alias]
	permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[mergetool "p4mergetool"]
	cmd = p4merge \"$BASE\" \"$REMOTE\" \"$LOCAL\" \"$MERGED\"
	trustExitCode = false
[mergetool]
	keepBackup = false
	prompt = false
[difftool "p4mergedifftool"]
	cmd = p4merge \"$LOCAL\" \"$REMOTE\"
[difftool "p4mergetool"]
	path = C:/Program Files/Perforce/p4merge.exe
[difftool "p4merge"]
	path = C:/Program Files/Perforce/p4merge.exe
	cmd = \"C:/Program Files/Perforce/p4merge.exe\" \"$LOCAL\" \"$REMOTE\"
[mergetool "p4merge"]
	path = C:/Program Files/Perforce/p4merge.exe
	cmd = \"C:/Program Files/Perforce/p4merge.exe\" \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool "TortoiseMerge"]
	path = C:/Program Files/TortoiseSVN/bin/TortoiseMerge.exe
	cmd = \"C:/Program Files/TortoiseSVN/bin/TortoiseMerge.exe\" /base:\"$BASE\" /mine:\"$LOCAL\" /theirs:\"$REMOTE\" /merged:\"$MERGED\"
