[core]
	autocrlf = False
	editor = vim
	filemode = false
	pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
[branch]
	autosetuprebase = always
[pull]
	rebase = preserve
[rerere]
	enabled = true
[push]
	default = simple
[color "branch"]
	current = yellow bold
	local = yellow dim
	remote = green dim bold
[color "status"]
	added = green
	changed = red bold
	untracked = magenta bold
[color]
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[merge]
	ff = false
	tool = vimdiff
	conflictstyle = diff3
[credential]
	helper = store
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
	pager = true
[alias]
	permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	merge-request = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[mergetool]
	prompt = false
[user]
	name = Rik de Groot
	email = rik.de.groot@mendix.com
[fetch]
	prune = true
[status]
	submoduleSummary = true
