!.gitignore 
!.gitconfig

!.bash_aliases
!.bash_profile
!.bashrc
!.profile
!.minttyrc

!.tmux.conf
!.vimrc
!README.md
.bash_history
.ssh/*
!.ssh/config 
!.ssh/known_hosts
.cache
.virtualenvs
.viminfo
.local
.vim/bundle/*
!.vim/bundle/Vundle.vim/*