XTerm*locale: true
XTerm.clipboard.autocopy:true
XTerm*loginShell:false
XTerm*transparent:true
XTerm*shading:25
XTerm*background:Black
XTerm*foreground:White
XTerm*scrollBar:false
XTerm*scrollBar_right:true
XTerm*scrollBar_floating:false
XTerm*scrollstyle:plain
XTerm*secondaryScroll:true

! # how many lines you want it to save per session
XTerm*saveLines:32767
XTerm*troughColor:#000000
XTerm*scrollColor:#222222

!XTerm*faceName: Anonymice Powerline
!XTerm*faceName: Arimo Powerline
!XTerm*faceName: Cousine Powerline
XTerm*faceName: Dejavu Sans Mono for Powerline
!XTerm*faceName: Droid Sans Mono for Powerline
!XTerm*faceName: Droid Sans Mono Slashed for Powerline
!XTerm*faceName: Droid Sans Mono Dotted for Powerline
!XTerm*faceName: Inconsolata for Powerline
!XTerm*faceName: Inconsolata-dz for Powerline
!XTerm*faceName: Inconsolata-g for Powerline
!XTerm*faceName: Literation Mono Powerline
!XTerm*faceName: Meslo for Powerline
!XTerm*faceName: Sauce Code Powerline
!!XTerm*faceName: Source Code Pro for Powerline
!XTerm*faceName: PragmataPro
!XTerm*faceName: Symbol Neu Powerline
!XTerm*faceName: Terminess Powerline
!XTerm*faceName: Tinos Powerline
!XTerm*faceName: Ubuntu Mono derivative Powerline
!XTerm*faceName: Monofur for Powerline
!XTerm*faceName: Fura Powerline
XTerm*faceSize: 9
XTerm*font: fixed
XTerm*boldFont: fixed
XTerm*allowBoldFonts: false

! # with this set to true, when an app sends a bell to the
! # terminal, awesome hilights the appropriate tag(s) ;)
XTerm*urgentOnBell: true

! #for weechat alt-key characters
UXTerm*metaSendsEscape: true

XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
XTerm*VT100*translations: #override Shift <Btn1Up>: exec-formatted("google-chrome '%t'", PRIMARY)
! # these three lines enable clicking on links to open them ;)
! ## if you want to enable tab support, append ,tabbed to the next line
! ## then use shift+down arrow to create tabs and shift+{left,right} arrows to switch between them
XTerm*cutchars:        `"()'*<>[]{|}
XTerm*perl-ext-common: default,matcher,-option-popup,-selection-popup,-realine
Xterm*matcher.button:  1

! # dont forget to change this to your favorite browser
XTerm*urlLauncher: google-chrome

Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull
! Xft.dpi:       180
Xft.autohint:  0
Xft.lcdfilter: lcddefault

XTerm*VT100.Translations: #override \
                          Ctrl Shift <Key>v: insert-selection(CLIPBOARD) \n\
                          Ctrl Shift <Key>c: copy-selection(CLIPBOARD)
Xcursor.size: 9

