<div style="color:rgb(0,0,0);letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;word-wrap:break-word">
  <div style="color:rgb(0,0,0);letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;word-wrap:break-word">
    <div style="color:rgb(0,0,0);letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;word-wrap:break-word">
      <div style="color:rgb(0,0,0);letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;word-wrap:break-word">
        <div>
          <table width="450"
            border="0"
            cellpadding="10"
            style="font-family:Arial,Helvetica,sans-serif;color:rgb(85,85,85);font-size:12px">
            <tbody>
              <tr>
                <td width="194">
                  <table width="194"
                    border="0"
                    cellpadding="0">
                    <tbody>
                      <tr>
                        <td width="190"
                          style="padding-bottom:8px">
                          <img src="http://easee.online/email_signature/img/logo_s.jpg"
                          width="132"
                          height="30"
                          alt="easee logo">
                        </td>
                      </tr>
                      <tr>
                        <td style="color:rgb(153,153,153);padding-bottom:1px">
                          <table width="194"
                            border="0"
                            cellpadding="0">
                            <tbody>
                              <tr>
                                <td style="color:rgb(153,153,153);padding-bottom:1px">Stadhouderskade 60A</td>
                              </tr>
                              <tr>
                                <td style="color:rgb(153,153,153);padding-bottom:1px">1072 AC Amsterdam</td>
                              </tr>
                              <tr>
                                <td style="color:rgb(153,153,153);padding-bottom:1px">Netherlands</td>
                              </tr>
                              <tr>
                                <td><a href="https://easee.online" style="font-family: Helvetica, Verdana, sans-serif; color: rgb(38,176,178); text-decoration: none;" target="_blank">https://easee.online</a></td>
                              </tr>
                            </tbody>
                          </table>
                          <div><br></div>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top:8px">
                          <a href="https://www.facebook.com/easee.online/"
                             style="color:rgb(38,176,178);text-decoration:none;padding-right:5px"
                             target="_blank"><img src="http://easee.online/email_signature/img/facebook.jpg" style="color:rgb(85,85,85);border:none"></a>
                          <a href="https://www.linkedin.com/company/easee-b.v." style="color:rgb(38,176,178);text-decoration:none;padding-right:5px" target="_blank"><img src="http://easee.online/email_signature/img/linkedin.jpg" style="color:rgb(85,85,85);border:none"></a>
                          <a href="https://twitter.com/easeeonline" style="color:rgb(38,176,178);text-decoration:none;padding-right:5px" target="_blank"><img src="http://easee.online/email_signature/img/twitter.jpg" style="color:rgb(85,85,85);border:none"></a>
                          <a href="https://www.instagram.com/EaseeOnline/" style="color:rgb(38,176,178);text-decoration:none;padding-right:5px" target="_blank"><img src="http://easee.online/email_signature/img/instagram.jpg" style="color:rgb(85,85,85);border:none"></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td width="210">
                  <table width="200"
                         border="0"
                         cellpadding="0"
                         style="border-left-width:5px;border-left-color:rgb(38,176,178);border-left-style:solid">
                    <tbody>
                      <tr>
                        <td width="25"></td>
                        <td style="color:rgb(38,176,178);font-size:22px;font-weight:bold">Rik de Groot</td>
                      </tr>
                      <tr>
                        <td width="25"></td>
                        <td style="color:rgb(153,153,153);font-size:11px;text-transform:uppercase;padding-bottom:8px">DEVELOPER</td>
                      </tr>
                      <tr>
                        <td width="25"></td>
                        <td style="padding-bottom:1px;font-size: 11px; color:rgb(38,176,178);"><b style="font-family: Helvetica, Verdana, sans-serif; font-size: 11px; color:rgb(38,176,178);">T</b>: <a href="tel:+31648082623" style="font-size: 11px; color:rgb(38,176,178);text-decoration:none" target="_blank">+31(0)6 480 826 23</a></td>
                      </tr>
                      <tr>
                        <td width="25"></td>
                        <td style="padding-bottom:1px;;font-size: 11px; color:rgb(38,176,178);"><b style="font-family: Helvetica, Verdana, sans-serif; font-size: 11px; color:rgb(38,176,178);">E</b>: <a href="mailto:rik@easee.online" style="font-size: 11px; color:rgb(38,176,178);text-decoration:none" target="_blank">rik@easee.online</a></td>
                      </tr>
                      <tr>
                        <td width="25"></td>
                        <td style="padding-bottom:1px;font-size: 11px; color:rgb(38,176,178);"><b style="font-family: Helvetica, Verdana, sans-serif; font-size: 11px; color:rgb(38,176,178);">in</b>: <a href="https://linkedin.com/in/rikhwdegroot" style="font-size: 11px; color:rgb(38,176,178);text-decoration:none" target="_blank">linkedin.com/in/rikhwdegroot</a></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div><br></div>
        <table width="450"
          border="0"
          cellpadding="10"
          style="font-family:Arial,Helvetica,sans-serif;color:rgb(85,85,85);font-size:12px">
          <tbody>
            <tr>
              <td width="194"></td>
              <td width="210"><br></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
